<% layout("/layouts/boilerplate") %>
<style>
    footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
}

</style>

    <div class="row mt-5" >
        <div class="alert alert-danger col-6 offset-3" role="alert" >
          <p class="alert-heading"> <%= message %></p>

         
          
    </div>
</div>
